/**...................................................................**/
.top > span {
  display: inline-block;
  float: right;
  font-family: "微软雅黑";
  color: #666;
  font-size: 18px;
  margin-top: 56px;
}
.top > span > a {
  color: #cc0000;
}
form {
  width: 390px;
  height: 590px;
  margin: 49px auto 21px;
}
form input {
  outline: none;
  border: 0;
}
form > input {
  width: 390px;
  height: 40px;
  background: #cc0000;
  color: #fff;
  font-family: "微软雅黑";
  font-size: 24px;
  float: left;
  line-height: 40px;
  margin-bottom: 21px;
}
form > input:hover {
  cursor: pointer;
}
form > p {
  color: #999999;
  font-family: "微软雅黑";
  font-size: 14px;
  float: left;
}
form > p > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  float: left;
}
form > p > span > img {
  width: 18px;
  height: 18px;
}
form > p > a {
  color: #999;
}
form > p > a:hover {
  color: #cc0000;
}
form > p:hover {
  cursor: pointer;
}
form > label {
  display: inline-block;
  width: 388px;
  height: 38px;
  border: 1px solid #999;
  margin-bottom: 33px;
  float: left;
}
form > label > span {
  display: inline-block;
  width: 118px;
  height: 38px;
  border-right: 1px solid #999;
  float: left;
  font-family: "微软雅黑";
  color: #333;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
}
form > label > input {
  padding-left: 8px;
  width: 260px;
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 14px;
  font-family: "微软雅黑";
  float: left;
}
form > label > p,
form > label h1 {
  margin-left: 120px;
  color: #cc0000;
  float: left;
  font-weight: 400;
  font-size: 14px;
  display: none;
}
form > label.spec > input {
  width: 140px;
}
form > label.spec > a {
  display: block;
  height: 38px;
  float: right;
  text-align: center;
}
form > label.spec > a > img {
  margin: 2px 0;
  width: 100px;
  height: 34px;
}
form > label.spec > button {
  width: 96px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border: 0;
  outline: none;
  float: right;
  background: #e3e3e3;
  color: #000;
  font-size: 14px;
  font-family: "微软雅黑";
}
form > label.spec > button:hover {
  cursor: pointer;
}
body > p {
  border-top: 2px solid #999;
}
